@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/groplet/Gropled-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-groplet {
  font-family: 'MyCustomFont', sans-serif;
}

body {
  background: black;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Background of the track (empty area) */
  border-radius: 10px;        /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;     /* Scrollbar color */
  border-radius: 10px;        /* Rounded corners for the scrollbar */
  border: 2px solid #f1f1f1;  /* Optional: adds space around the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;     /* Color on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;              /* Scrollbar width */
  scrollbar-color: #888 #f1f1f1;      /* Scrollbar and track colors */
}

/* For Internet Explorer and Edge */
.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-ms-scrollbar {
  width: 10px;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
  .playerButton { 
    @apply text-white bg-gray-800 px-2 py-1 md:px-4 md:py-2 rounded-md font-semibold text-sm md:text-base;
  }

  .numbers{
    @apply flex flex-col items-center justify-center bg-secondary-300  px-10 py-5 rounded-xl
  }

  .font-style-gradient {
    @apply bg-gradient-to-br to-[#631aff] from-[#fff9f8] bg-clip-text text-transparent font-[800]
  }

  .margin{
    @apply md:mt-20 mt-[3.4rem]
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}